.site_title {
	color: orange;
	font-size: 20px;
	margin-left:5px; 
	font-weight:bold;
}

.site_title:hover {
    text-decoration: none;
}

.site_tag_line {
	padding-left: 5px;
	font-size: 14px;
	font-style: italic;
}

.main_content {
	padding-left: 25px;
	padding-top: 20px;
/*	margin-top: 200px;*/
}

.menu_button {
    margin: 5px;
   /* border: solid 1px gray;*/
}