<!--<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/normalize.css" />-->
<!--<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/demo.css" />-->
<!--<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/icons.css" />-->
<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/component.css" />
<script src="{{ site.baseurl }}/javascript/modernizr.custom.js"></script>

<!--<link rel="stylesheet" href="{{ site.baseurl }}/css/font-awesome.min.css">-->

<!-- Latest compiled and minified CSS -->
<!--<link rel="stylesheet" href="{{ site.baseurl }}/css/bootstrap.min.css">-->

<!-- jQuery library -->
<!--<script src="{{ site.baseurl }}/javascript/jquery.min.js"></script>-->

<!-- Latest compiled JavaScript -->
<!--<script src="{{ site.baseurl }}/javascript/bootstrap.min.js"></script>-->

<!--<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>-->

<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<link rel="stylesheet" href="{{ site.baseurl }}/css/site.css">

<style>
	/*a:hover {
		background: #FFDD00;
		color: #AAAAAA;
		text-decoration: none;
	}*/	
	
	hr {
		display: block;
		position: relative;
		padding: 0;
		margin: 8px auto;
		margin-left: 0px;
		height: 0;
		width: 80%;
		max-height: 0;
		font-size: 1px;
		line-height: 0;
		clear: both;
		border: none;
		border-top: 1px solid #FF9900;
		border-bottom: 1px solid #FFFFFF;
	}
	
	.table_hr {
		display: block;
		position: relative;
		padding: 0;
		margin: 8px auto;
		margin-left: 0px;
		height: 0;
		width: 80%;
		max-height: 0;
		font-size: 1px;
		line-height: 0;
		clear: both;
		border: none;
		border-top: 1px solid #FF9900;
		border-bottom: 1px solid #FFFFFF;
	}
	
	.box:hover {
		background: #FF9900;
		color: #FFFFFF;
		cursor: pointer;
	}
	
	.affix {
		top: 0;
		width: 100%;
		-webkit-transition: all .5s ease-in-out;
		transition: all .5s ease-in-out;
	}
	
	.affix-top {
		position: static;
		top: -35px;
	}
	
	.affix + .container-fluid {
		padding-top: 50px;
	}
	
	#disqus_thread {
		position: relative;
	}
	
	#disqus_thread:after {
		content: "";
		display: block;
		height: 55px;
		width: 100%;
		position: absolute;
		bottom: 0px;
		background:white;
	}
</style>