
<div style="display: block;" class="pull-right">
{% if site.footer-links.twitter %}<a title="twitter" style="color: #FF9900;text-decoration: none;" href="https://www.twitter.com/{{ site.footer-links.twitter }}" class="fa fa-twitter fa-2x"></a>{% endif %}
{% if site.footer-links.email %}<a title="mail" class="fa fa-envelope-square fa-2x" style="color: #FF9900;text-decoration: none;" href="mailto:{{ site.footer-links.email }}"></a>{% endif %}
{% if site.footer-links.rss %}<a title="rss" class="fa fa-rss fa-2x" style="color: #FF9900;text-decoration: none;" href="{{ site.baseurl }}/feed.xml"></a>{% endif %}
{% if site.footer-links.linkedin %}<a title="linkedin" class="fa fa-linkedin-square fa-2x" style="color: #FF9900;text-decoration: none;" href="https://za.linkedin.com/in/{{ site.footer-links.linkedin }}"></a>{% endif %}
{% if site.footer-links.github %}<a title="github" style="color: #FF9900;text-decoration: none;" href="https://github.com/{{ site.footer-links.github }}" class="fa fa-github fa-2x"></a>{% endif %}
{% if site.footer-links.stackoverflow %}<a title="stackoverflow" class="fa fa-stack-overflow fa-2x" style="color: #FF9900;text-decoration: none;" href="http://stackoverflow.com/{{ site.footer-links.stackoverflow }}"></a>{% endif %}

{% if site.footer-links.dribbble %}<a href="https://dribbble.com/{{ site.footer-links.dribbble }}"><i class="svg-icon dribbble"></i></a>{% endif %}
{% if site.footer-links.facebook %}<a href="https://www.facebook.com/{{ site.footer-links.facebook }}"><i class="svg-icon facebook"></i></a>{% endif %}
{% if site.footer-links.flickr %}<a href="https://www.flickr.com/{{ site.footer-links.flickr }}"><i class="svg-icon flickr"></i></a>{% endif %}
{% if site.footer-links.instagram %}<a href="https://instagram.com/{{ site.footer-links.instagram }}"><i class="svg-icon instagram"></i></a>{% endif %}
{% if site.footer-links.pinterest %}<a href="https://www.pinterest.com/{{ site.footer-links.pinterest }}"><i class="svg-icon pinterest"></i></a>{% endif %}
{% if site.footer-links.youtube %}<a href="https://youtube.com/{{ site.footer-links.youtube }}"><i class="svg-icon youtube"></i></a>{% endif %}
{% if site.footer-links.googleplus %}<a href="https://plus.google.com/{{ site.footer-links.googleplus }}"><i class="svg-icon googleplus"></i></a>{% endif %}
</div>