<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>
    {% include meta.html %} {% include header_resources.html %} {% include rss.html %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/site.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>-->
    <!--<link rel="stylesheet" href="css/bootstrap.min.css">
    <script src="javascript/jquery.min.js"></script>
    <script src="javascript/bootstrap.min.js"></script>-->

    <script>
        /* Menu Tooltip */
        $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip({trigger: "hover", animation: false}); 
        });
        
        // $(window).on('resize load', function() {
        //     $('body').css({"padding-top": $(".navbar").height() + "px"});
        // });
    </script>
</head>

<body style="height: 100%; padding-top: 35px; padding-bottom: 50px;">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid" style="margin-top: 5px; margin-right: 15px;">
            <span style="border-bottom: solid 2px #FF9900; margin-left: 5px;">
										<a
										href="{{ site.baseurl }}/"
										style="margin-left:5px; color:#FF9900; font-size:20px; font-weight:normal; text-decoration: none;"
										class="lead justify site_title">{{ site.name }}</a>
										<small>
											<span style="font-style: italic; color: #000000; font-size: 14px;">
												{{ site.description }}</span>
            </small>
            </span>
            <ul class="nav navbar-nav navbar-right">
                <a target="_blank" title="twitter" class="social fa fa-twitter fa-lg" href="https://www.twitter.com/{{ site.footer-links.twitter }}"></a>
                <a target="_blank" title="rss" class="social fa fa-rss fa-lg" href="{{ site.baseurl }}/feed.xml"></a>
                <a target="_blank" title="linkedin" class="social fa fa-linkedin-square fa-lg" href="https://za.linkedin.com/in/{{ site.footer-links.linkedin }}"></a>
                <a target="_blank" title="github" href="https://github.com/{{ site.footer-links.github }}" class="social fa fa-github fa-lg"></a>
                <a target="_blank" title="stackoverflow" class="social fa fa-stack-overflow fa-lg" href="http://stackoverflow.com/{{ site.footer-links.stackoverflow }}"></a>
            </ul>
        </div>
    </nav>

    <nav class="navbar navbar-default navbar-fixed-bottom hidden-lg hidden-md">
        <div class="container-fluid">
            <ul class="nav navbar-nav" style="margin: 0 auto;width: 100%;text-align: center;">
                <li style="float: none;display: inline-block;">
                    <a class="menu_tooltip" href="#" data-toggle="tooltip" data-placement="auto right" title="Home"><span class="glyphicon glyphicon-home style_bottom_menu" aria-hidden="true"></span></a>
                </li>
                <li style="float: none;display: inline-block;">
                    <a class="menu_tooltip" href="#" data-toggle="tooltip" data-placement="auto right" title="Archive"><span class="glyphicon glyphicon-book style_bottom_menu" aria-hidden="true"></span></a>
                </li>
                <li style="float: none;display: inline-block;">
                    <a class="menu_tooltip" href="#" data-toggle="tooltip" data-placement="auto right" title="Projects"><span class="glyphicon glyphicon-cog style_bottom_menu" aria-hidden="true"></span></a>
                </li>
                <li style="float: none;display: inline-block;">
                    <a class="menu_tooltip" href="#" data-toggle="tooltip" data-placement="auto right" title="Cheats"><span class="glyphicon glyphicon-info-sign style_bottom_menu" aria-hidden="true"></span></a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container-fluid ">
        <div class="row">
            <div class="col-lg-1 col-md-1 hidden-sm hidden-xs">
                <ul class="nav nav-pills nav-stacked affix_side_menu" data-spy="affix" data-offset-top="35">
                    <li>
                        <a class="menu_tooltip" href="#" data-toggle="tooltip" data-placement="right" title="Home"><span class="glyphicon glyphicon-home style_side_menu" aria-hidden="true"></span></a>
                    </li>
                    <li>
                        <a class="menu_tooltip" href="#" data-toggle="tooltip" data-placement="right" title="Archive"><span class="glyphicon glyphicon-book style_side_menu" aria-hidden="true"></span></a>
                    </li>
                    <li>
                        <a class="menu_tooltip" href="#" data-toggle="tooltip" data-placement="right" title="Projects"><span class="glyphicon glyphicon-cog style_side_menu" aria-hidden="true"></span></a>
                    </li>
                    <li>
                        <a class="menu_tooltip" href="#" data-toggle="tooltip" data-placement="right" title="Cheats"><span class="glyphicon glyphicon-info-sign style_side_menu" aria-hidden="true"></span></a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-11 col-md-11 col-sm-12 col-xs-12">
                {{content}}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-xs-12 col-lg-12 col-md-12">
                <script>
                    (function() {
    var cx = '010472338623826682351:xzzfzca16dc';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
        '//cse.google.com/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
                </script>
                <gcse:searchresults-only></gcse:searchresults-only>
            </div>
        </div>
    </div>
    {% include analytics.html %}
</body>

</html>