<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>
        {% include meta.html %}

		<meta name="description" content="Sidebar Transitions: Transition effects for off-canvas views" />
		<meta name="keywords" content="transition, off-canvas, navigation, effect, 3d, css3, smooth" />
		<meta name="author" content="Geerhardt van Deventer" />
		<!-- <link rel="shortcut icon" href="../favicon.ico"> -->
		<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/normalize.css" />
		<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/demo.css" />
		<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/icons.css" />
		<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/component.css" />
		<script src="{{ site.baseurl }}/javascript/modernizr.custom.js"></script>

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

		<!-- Latest compiled JavaScript -->
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

		<link rel="stylesheet" href="{{ site.baseurl }}/css/site.css">

    <!-- <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" /> -->
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
	</head>
	<body>
		<div id="st-container" class="st-container">
			<nav class="st-menu st-effect-11" id="menu-11">
<!--				<h2 class="fa fa-home"> home</h2>-->
<!--					<h2 class="fa fa-home"> home</h2>-->
<h2>
					<i class="fa fa-hand-rock-o"></i>
					<i class="fa fa-hand-paper-o"></i>
					<i class="fa fa-hand-scissors-o"></i>
					<i class="fa fa-hand-lizard-o"></i>
					<i class="fa fa-hand-spock-o"></i>
					</h2>
				<ul>
					<li><a class="fa fa-home fa-lg" href="{{ site.baseurl }}/"> home</a></li>
					<li><a class="fa fa-book fa-lg" href="{{ site.baseurl }}/blog"> blog</a></li>
					<li><a class="fa fa-lightbulb-o fa-lg" href="{{ site.baseurl }}/projects"> projects</a></li>
					<li><a class="fa fa-life-ring fa-lg" href="{{ site.baseurl }}/cheatsheets"> cheatsheets</a></li>
					<!--<li><a class="fa fa-envelope-o fa-lg" href="#"> contact</a></li>-->
					<li><a class="fa fa-coffee fa-lg" href="{{ site.baseurl }}/about"> about</a></li>
				</ul>
			</nav>

			<!-- content push wrapper -->

			<div class="st-pusher">
				<div class="st-content"><!-- this is the wrapper for the content -->
					<div class="st-content-inner"><!-- extra div for emulating position:fixed of the menu -->
						<!-- Top Navigation -->
					    <div id="st-trigger-effects" data-spy="affix">
							<button type="button" class="btn btn-default btn-md menu_button" data-effect="st-effect-11">
								<span class="glyphicon glyphicon-menu-hamburger"></span>
							</button>

							<span><a class="site_title lead" href="/">{{ site.name }}</a></span>
							<span class="site_tag_line">{{ site.description }}</span>

						</div>

						<div class="main clearfix main_content">

							<!-- <h2 class="text-center">{{ page.title }}</h2>
						  <hr/> -->

							<!-- <h2 class="text-center">blog header</h2>
							<hr/> -->
                {{ content }}
						</div><!-- /main -->
					</div><!-- /st-content-inner -->
				</div><!-- /st-content -->
			</div><!-- /st-pusher -->
		</div><!-- /st-container -->
		<script src="{{ site.baseurl }}/javascript/classie.js"></script>
		<script src="{{ site.baseurl }}/javascript/sidebarEffects.js"></script>
	</body>
        {% include analytics.html %}
</html>
