<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
	<title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

	{% include meta.html %} 
	{% include header_resources.html %} 
	{% include rss.html %}

</head>

<body>
	<div id="st-container" class="st-container">
		<nav class="st-menu st-effect-11" id="menu-11">
			<ul>
				<li><a class="fa fa-home fa-sm" href="{{ site.baseurl }}/"> home</a></li>
				<!--<li><a class="fa fa-book fa-lg" href="{{ site.baseurl }}/blog"> blog</a></li>-->
				<li><a class="fa fa-lightbulb-o fa-sm" href="{{ site.baseurl }}/projects"> projects</a></li>
				<li><a class="fa fa-life-ring fa-sm" href="{{ site.baseurl }}/cheatsheets"> cheatsheets</a></li>
				<!--<li><a class="fa fa-envelope-o fa-lg" href="#"> contact</a></li>-->
				<li><a class="fa fa-coffee fa-sm" href="{{ site.baseurl }}/about"> about</a></li>
			</ul>
		</nav>
		<!-- content push wrapper -->
		<div class="st-pusher">
			<div class="st-content">
				<!-- this is the wrapper for the content -->
				<div class="st-content-inner">
					<!-- extra div for emulating position:fixed of the menu -->
					<!-- Top Navigation -->
					<div class="container-fluid" data-spy="affix" style="z-index:100;">
						<div class="row" style="z-index:100; background-color: white;">
							<div class="col-sm-12">
								<div id="st-trigger-effects" class="pull-left center-block" style="margin-top:5px;margin-bottom:5px;">
									<span style="border-bottom: solid 2px #FF9900; margin-left: 5px;">
										<a 
										href="{{ site.baseurl }}/" 
										style="margin-left:5px; color:#FF9900; font-size:20px; font-weight:bold;" 
										class="lead justify site_title">{{ site.name }}</a>
										<small>
											<span style="font-style: italic; color: #000000; font-size: 14px;">
												{{ site.description }}</span>
										</small>
									</span>									
									<button type="button" class="btn btn-default pull-left btn-sm" data-effect="st-effect-11">
										<i class="fa fa-bars fa-lg"></i>
									</button>
								</div>
							</div>
							
						</div>
						
						<!--ORIGINAL: Using an actual search page :)						-->
						<!--<div class="row"> 
							<div class="col-sm-12 text-right"> 
								<form role="search" method="get" action="{{site.baseurl}}/search/" class="search-form"> 
									<div class="form-group has-feedback"> 
										<label for="search" class="sr-only">Search</label> 
										<input id="searchString" name="searchString" type="text" class="form-control" placeholder="search..."> 
										<span class="glyphicon glyphicon-search form-control-feedback"></span> 
									</div> 
								</form> 
							</div> 
						</div>-->
						
						<div class="row"> 
							<div class="col-sm-12 text-right"> 
								<form role="search" method="get" class="search-form"> 
									<div class="form-group has-feedback"> 
										<label for="search" class="sr-only">Search</label> 
										<input id="q" name="q" type="text" class="form-control" placeholder="search..."> 
										<span class="glyphicon glyphicon-search form-control-feedback"></span> 
									</div> 
								</form> 
							</div> 
						</div>
						
					<div class="row"> 
						<div class="col-sm-12"> 
<script>
  (function() {
    var cx = '010472338623826682351:xzzfzca16dc';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
        '//cse.google.com/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>
<gcse:searchresults-only></gcse:searchresults-only>
						</div>
					</div>												
					</div>				
					
					<div class="main clearfix main_content container-fluid">
						{{ content }}
					</div>
					<!-- /main -->
				</div>
				<!-- /st-content-inner -->
			</div>
			<!-- /st-content -->
		</div>
		<!-- /st-pusher -->
	</div>
	<!-- /st-container -->
	<script src="{{ site.baseurl }}/javascript/classie.js"></script>
	<script src="{{ site.baseurl }}/javascript/sidebarEffects.js"></script>
</body>

{% include analytics.html %}

{% include svg-icons.html %}
</html>

						<!--<div class="row">
							<div class="col-sm-12">
 <div class="grid" id="searchBar">
     <div class="text-center">
	<form role="search" method="get" class="form-inline" action="{{site.baseurl}}/search/">
		<input id="searchString" name="searchString" type="text" class="form-control" placeholder="search...">
		<button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></button>
	</form>
	</div>
</div>
</div>
</div>						-->
 						
						 
						<!--<div class="row">
							<div class="col-sm-12" style="border-top: solid 1px #FF9900;">
								<hr/>
							</div>
						</div>-->