<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>
    {% include meta.html %} {% include header_resources.html %} {% include rss.html %}

</head>

<body style="height: 100%;">
    <div class="container-fluid" data-spy="affix" style="z-index:100; height: 100%;">
        <div class="row" style="z-index:100; background-color: white;">
            <div class="col-sm-12">
                <span style="border-bottom: solid 2px #FF9900; margin-left: 5px;">
										<a
										href="{{ site.baseurl }}/"
										style="margin-left:5px; color:#FF9900; font-size:20px; font-weight:bold;"
										class="lead justify site_title">{{ site.name }}</a>
										<small>
											<span style="font-style: italic; color: #000000; font-size: 14px;">
												{{ site.description }}</span>
                </small>
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <form role="search" method="get" class="search-form">
                    <div class="form-group has-feedback">
                        <label for="search" class="sr-only">Search</label>
                        <input id="q" name="q" type="text" class="form-control" placeholder="search..." style="height: 25px;">
                        <!--<span class="glyphicon glyphicon-search form-control-feedback"></span>-->
                        <span class="fa fa-search fa-lg form-control-feedback" style="color: #FF9900;text-decoration: none; border: none;"></span>
                    </div>
                </form>
                {% include social-icons.html %}
            </div>
        </div>
        <div class="row content-wrapper" style="height: 100%;">
            <div data-spy="affix" data-offset-top="200" data-offset-bottom="200" id="myAffix">
                <div class="col-lg-1">
                    <!-- Sidebar code -->
                <ul id="nav" class="nav">
                    <li>
                        <a title="home" class="fa fa-home fa-2x" href="{{ site.baseurl }}/"></a>
                    </li>
                    <li>
                        <a title="archive" class="fa fa-book fa-2x" href="{{ site.baseurl }}/archive"></a>
                    </li>
                    <li>
                        <a title="projects" class="fa fa-lightbulb-o fa-2x" href="{{ site.baseurl }}/projects"></a>
                    </li>
                    <li>
                        <a title="cheatsheets" class="fa fa-life-ring fa-2x" href="{{ site.baseurl }}/cheatsheets"></a>
                    </li>
                </ul>                    
                </div>
            </div>
            <div class="col-lg-11 main clearfix pre-scrollable" style="height:100%; overflow: scroll;">
                <!-- content -->
                                <h1>Hello World!</h1>
                <p>Resize the browser window to see the effect.</p>
                <h1>Hello World!</h1>
                <p>Resize the browser window to see the effect.</p>
                <h1>Hello World!</h1>
                <p>Resize the browser window to see the effect.</p>
                <h1>Hello World!</h1>
                <p>Resize the browser window to see the effect.</p>
                <h1>Hello World!</h1>
                <p>Resize the browser window to see the effect.</p>
                <h1>Hello World!</h1>
                <p>Resize the browser window to see the effect.</p>
                <h1>Hello World!</h1>
                <p>Resize the browser window to see the effect.</p>
                <h1>Hello World!</h1>
                <p>Resize the browser window to see the effect.</p>
                <h1>Hello World!</h1>
                <p>Resize the browser window to see the effect.</p>
                <h1>Hello World!</h1>
                <p>Resize the browser window to see the effect.</p>
                <h1>Hello World!</h1>
                <p>Resize the browser window to see the effect.</p>
                <h1>Hello World!</h1>
                <p>Resize the browser window to see the effect.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <script>
                    (function() {
    var cx = '010472338623826682351:xzzfzca16dc';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
        '//cse.google.com/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
                </script>
                <gcse:searchresults-only></gcse:searchresults-only>
            </div>
        </div>
    </div>
    {% include analytics.html %}
</body>

</html>