--- 
layout: default 
---

<article class="post" style="margin-bottom: 50px;">
    <!-- <h1>{{ page.title }}</h1> -->

    <!--<h3 class="text-center">{{ page.title }}</h3>-->
    <br/>
    <!--<p class="lead">{{ page.title }}</p>-->
    <h4>{{ page.title }}</h4>

    <hr/>

    <div class="entry">
        {{ content }}
    </div>

    <div class="date pull-right" style="font-size: 10px;">
        Written on {{ page.created | date: "%B %e, %Y" }}
        <br/> {% if page.created != page.updated %} Updated on {{ page.updated | date: "%B %e, %Y" }} {% endif %}
    </div>
</article>

{% include disqus.html %}