---
layout: default
---

<article class="post" style="margin-bottom: 50px;">
    <br/>
    <p class="lead">{{ page.title }}</p>
    <hr/>

    <div class="entry">
        {{ content }}
    </div>

    <div class="date pull-right" style="font-size: 10px;">
        Written on {{ page.created | date: "%B %e, %Y" }}
        <br/> {% if page.created != page.updated %} Updated on {{ page.updated | date: "%B %e, %Y" }} {% endif %}
    </div>
</article>

<nav>
  <ul class="pager">
    {% if page.previous.url %}
        <li><a href="{{ page.previous.permalink }}" title="previous"><span class="glyphicon glyphicon-arrow-left style_bottom_menu" aria-hidden="true"></span></a></li>
    {% else %}
        <li class="disabled"><a class="disabled" title="previous"><span class="glyphicon glyphicon-arrow-left style_bottom_menu" aria-hidden="true"></span></a></li>
    {% endif %}
    {% if page.next.url %}
        <li><a href="{{ page.next.permalink }}" title="next"><span class="glyphicon glyphicon-arrow-right style_bottom_menu" aria-hidden="true"></span></a></li>
    {% else %}
        <li class="disabled"><a class="disabled" title="next"><span class="glyphicon glyphicon-arrow-right style_bottom_menu" aria-hidden="true"></span></a></li>
    {% endif %}
  </ul>
</nav>

{% include disqus.html %}
